/*
 *  Default colors for every element
 *  It is expected that these be changed for each site as needed
 */
 
/* Primary colors */
$primary-color: #F03537;
$primary-color-gradient: #F03069;
$primary-text-color: #111111;

/* Accent colors */
$accent-color: #69F0AE;
$accent-color-gradient: #56F072;
$accent-text-color: #FFFFFF;

/* Other colors */
$border-color: #E5E5E5;